<!DOCTYPE html>
	<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<footer class="text-center text-white fixed-bottom" style="background-color: rgb(35, 35, 35);" th:fragment="footer">
			<div class="container p-4"></div>
		  	<div class="text-center p-3" style="background-color: rgb(25, 25, 25);">
		    © 2022 Copyright:
		    <a class="text-white" href="https://mdbootstrap.com/">Grupo 20</a>
		  	</div>
		  	
		  	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
			<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
			<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		</footer>
	</body>
</html>