<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	<body>
		<header th:replace="layouts/header::header"></header>
		<div class="containter">
			<h1 class="text-center mt-5">GRACIAS POR VOTAR</h1>
		</div>
		<footer th:replace="layouts/footer::footer"></footer>
	</body>
</html>