<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	<body>
		<header th:replace="layouts/header::header"> </header>
		<img th:src="@{/imagen/musica.jpeg}" class="img-fluid" alt="...">
		<h1>Bienvenido al portal de votación de Bandas musicales, donde podrá seleccionar el show de su banda favoria o al show que desea asistir.</h1>
		<h1>Para realizarlo, por favor registrese completando sus datos correctamente.</h1>
		<footer th:replace="layouts/footer::footer"></footer>
	</body>
</html>