<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	<body>
		<header th:replace="layouts/header::header"> </header>
		<div class="container py-4">
			<h1 class="text-center">VOTAR</h1>
			<br>
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<div th:each="candidato : ${aliasCandidatos}">
					<div class="col">
					    <div class="card h-100">
					      <div class="card-body">
					        <h5 class="card-title" th:text="*{candidato.nombre}"></h5>
					        <p class="card-text" th:text="*{candidato.generoMusical}"></p>
					      	<a th:href="@{/votar/candidato/}+*{candidato.codigo}" class="btn btn-outline-primary">Votar</a>
					      </div>
					    </div>
					  </div>
				</div>
				  
			</div>
		</div>
		<footer th:replace="layouts/footer::footer"></footer>
	</body>
</html>